
*{
    margin: 0;
    padding: 0;
    font-family: 'Qratesis', 'Noto Sans JP', sans-serif;
}

a{
    text-decoration: none;
    list-style: none;
}
footer a{
    color: white;
    font-size: 21px;
}
footer h4{
    padding-bottom: 17px;
}

img{
    width: 100%;
}

footer{
    background-color: black;
    padding-top: 8%;
    color: white;
}
.footerlinks{
    display: flex;
    justify-content: space-around;
}

.standAloneH2{
    font-size: 180%;
    background-color: white;
    border: 1.9px solid black;
    color:black;
    height: 140px;
    text-align: center;
    padding-top: 7%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainFirstpt{
    display: flex;
}
.mainFirstptOne{
    background-color: #497775;
    width: 50%;
    border: 1px solid black;
    padding-bottom: 3%;
}
.mainFirstptTwo{
    background-color:#81836c;
    width: 50%;
    border: 1px solid  black;
    padding-bottom: 3%;
}
.mainpt2{
    display: flex;
}
.mainSecondptTwo{
    background-color: yellow;
    width: 50%;
    border: 3px solid  black;
}
.mainSecondptOne{
    background-color: #81836c;
    width: 50%;
    border: 3px solid  black;
}
.mainThirdpt{
    background-color: black;
    color: white;
}
.mainFourthpt{
    display: flex;
}
.mainFourthptTwo{
    margin-bottom: 7%;
}
.mainLastpt{
    display: flex;
}
.mainLastOne{
    background-color: black;
    color: white;
}
.mainLastTwo{
    background-color: #e280ff ;
}
.headerimgs1{
    display: flex;
}
.headerimgs2{
    display: flex;
}
.navlogo{
    width: 39px;
    padding:  5px 12px 22px 27px;
}
nav ul{
    list-style: none;
    display: flex;
    margin-top: 28px;
}

.topRightCornerDiv{
   position: relative;
   left: 26%;
   width: 23%;
}
.makeYourOwnBtn{
    background-color: black;
    color: white;
    width: 69%;
    border-radius: 44px;
    margin-left: 13px;
    height: 48px;
    font-weight: bolder;
}
.login{
    color: black;
    font-weight: bolder;
}
.navListItem{
    padding-top: 12px;
    margin-left: 2.4%;
    font-weight: bolder;
    font-size: large;
}
.navListItem a{
    color: black;
}
.magnifyingGlass{
    width: 20px;
    font-weight: bolder;
}
.whyGratesDiv{
    border: 3px solid black;
    width: 23%;
    height: 28px;
    padding-top: 2%;
    padding-left: 3%;
}
.man{
    width: 44%;
    transform: rotate(10deg);
    z-index: 99;
    padding-top: 40px;
    position: relative;
    left: 6%;
}
.headerimgs1Text{
    width: 42%;
}
.headerimgs1{
    margin-left: 5%;
    height: 250px;
}
.headerimgs{
    padding: 2% 2% 0% 2%;
}
.headerimgs2{
    padding: 0% 2% 0% 4%;
}
.turningSpeaker{
    width: 50%;
    transform: rotate(-10deg);
}
.tag{
    width: 20%;
    position: relative;
    top: 173px;
    left: 10%;
}
header h1{
    font-size: 420%;
    width: 140%;
    line-height: 93%;
}
.vinyl{
    background-color: white;
    color: black;
    width: 26%;
    position: relative;
    left: 37%;
    border: 3px solid black;
    padding: 7px 4px  7px 4px;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 4%;
}
.mainFirstptOne{
    text-align: center;
    padding-top: 3%;
}
.mainFirstptTwo{
    text-align: center;
    padding-top: 3%;
}

.cassettes{
    background-color: white;
    color: black;
    width: 32%;
    position: relative;
    left: 37%;
    border: 3px solid black;
    padding: 7px 4px  7px 4px;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 4%;
}
.mainFirstpt h2{
    font-size: 250%;
    margin-bottom: 4%;
    padding-top: 1%;
}
.mainFirstpt p{
    font-size: 130%;
}
.vinylImg{
    width: 42%;
    position: relative;
    left: 28%;
    padding: 30px 2px 30px 2px;
}
.cassetteImg{
    width: 58%;
    left: 18%;
    position: relative;
    padding: 30px 2px 60px 2px;
}

.mainFirstpt button{
    background-color: black;
    color: white;
    width: 37%;
    border-radius: 44px;
    height: 48px;
    font-weight: bold;
    font-size: large;
    margin-top: 4%;
    margin-bottom: 8%;
    border: transparent;
}
.mainFirstptTwo button{
    width: 44%;
}
.standAloneH4{
    padding: 6% 0% 6% 0%;
    text-align: center;
    font-size: 130%;
    font-weight: light;
    border: 1px solid black;
}
.mainSecondptOne{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 4%;
}
.mainSecondptTwo{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 4%;
}
.get{
    background-color: white;
    color: black;
    width: 26%;
    position: relative;
    left: 37%;
    border: 3px solid black;
    padding: 7px 4px  7px 4px;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 4%;
}
.norisk{
    background-color: white;
    color: black;
    width: 28%;
    position: relative;
    left: 37%;
    border: 3px solid black;
    padding: 7px 4px  7px 4px;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 4%;
}

.mainpt2 h2{
    font-size: 250%;
    margin-bottom: 4%;
    padding-top: 1%;
}
.mainpt2 p{
    font-size: 130%;
}
.animatedImg1{
    width: 70%;
    position: relative;
    left: 18%;
    padding: 30px 2px 30px 2px;
}
.animatedImg2{
    width: 55%;
    left: 20%;
    position: relative;
    padding: 30px 2px 30px 2px;
}

.mainpt2 button{
    background-color: black;
    color: white;
    width: 37%;
    border-radius: 44px;
    height: 48px;
    font-weight: bold;
    font-size: large;
    margin-top: 4%;
    margin-bottom: 8%;
    border: transparent;
}

.mainSecondptOne button{
    margin-top: 8%;
}

.mainThirdpt{
    padding: 5% 2% 5% 10%;
    font-size: large;
    line-height: 150%;
}
.mainThirdpt a{
    color: white;
    position: relative;
    left: 68%;
    text-decoration:underline;
    width: 20%;
    bottom: 21px;
    font-size:90%;
}
.mainFourthptOne{
    width: 50%;
    text-align: center;
    margin-top: 22%;
}
.services{
    background-color: white;
    color: black;
    width: 24%;
    position: relative;
    left: 37%;
    border: 3px solid black;
    padding: 7px 4px  7px 4px;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 4%;   
}
.makemusic{
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
    font-size: 260%;
}
.TwoMenContainer{
    padding: 10% 2% 8% 2%;
}
.TwoMen{
    width: 55%;
    height: 380px;
    transform: rotate(-10deg);
    position: relative;
    left: 24.2%;
    border: 2px solid black;
    background-image: url(./images/qrates-imgs\ \(7\).jpg);
    background-position: center;
    background-size: cover;
}

.mainFourthparagraph{
    font-size: 118%;
    padding: 8% 2% 8% 2%;
    font-weight: bold;
}

.mainFourthptOne button{
    background-color: white;
    color: black;
    width: 37%;
    border-radius: 44px;
    height: 48px;
    font-weight: bold;
    font-size: large;
    margin-top: 1%;
    margin-bottom: 8%;
    border: 2px solid black;
}
.mainFourthptTwo{
    padding: 14% 5% 6% 3%;
    width: 41%;
}
.overallContainer{
    border: 3px solid black;
}
.overallContainer h2{
    background-color: black;
    color: white;
    padding: 4% 3% 4% 3%;
}
.design{
    border: transparent;
    font-size: larger;
    width: 160px;
    text-decoration: none;
}
.design a{
    color: white;
}
#dropdown1{
    background-color: black;
    
}
.mainLastOne{
    text-align: center;
    padding-top: 12%;

}
.Retail{
    background-color: white;
    color: black;
    width: 24%;
    position: relative;
    left: 37%;
    border: 3px solid black;
    padding: 7px 4px  7px 4px;
    font-weight: bolder;
    margin-top: 15%;
    margin-bottom: 4%;   
}
.mainLastTwoImg{
    border: 2px solid black;
    margin: 10% 5% 0% 5%;
    background-image: url(./images/qrates-imgs\ \(9\).jpg);
    background-size: cover;
    margin-bottom: 15%;
}
.mainLastOneImg{
    width: 90%;
}
.mainLastTwo{
    width: 50%;
    text-align: center;
}
.mainLastOne{
    width: 50%;
}
.makemusic1{
    font-size: 250%;
    margin-bottom: 4%;
    padding-top: 1%;   
}
.mainLastpt p{
    font-size: 120%;
}
.makemusic2{
    font-size: 250%;
    margin-bottom: 4%;
    padding-top: 1%;   
}
.CUSTOMER{
    background-color: white;
    color: black;
    width: 29%;
    position: relative;
    left: 37%;
    border: 3px solid black;
    padding: 7px 4px  7px 4px;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 4%;    
}
.mainLastpt button{
    background-color: black;
    color: white;
    width: 24%;
    border-radius: 44px;
    height: 48px;
    font-weight: bold;
    font-size: large;
    margin-top: 4%;
    margin-bottom: 6%;
    border: transparent; 
}.mainLastpt{
    margin-top: 3%;
}

.mainLastOne button{
    border:  3px solid white;
    margin-bottom: 15%;
    margin-top: 3%;
}
.mainLastTwo button{
   margin-top: 3%;
}
.footerlinks{
   padding-bottom: 24%;
}

.footerlinks a {
    padding: 2px;
 }

.fa{
    color: white;
}

  
  .accordion-section {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .accordion-title {
    background-color: #f9f9f9;
    padding: 30px;
    cursor: pointer;
    user-select: none;
    border: 1px solid black;
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #81836c;
    border: 1px solid black;
  }
  
  .accordion-content.show {
      padding: 10px;
      max-height: 300px; /* Adjust the max height as needed */
  }
  .accordion h1{
    background-color: #000000;
    color: white;
    width: 100%;
    font-size: 240%;
    padding: 4% 1% 4% 1%;
  }
  .accordion a{
    color: black;
    margin-top: 5px;
    font-weight: bolder;
    text-decoration: underline;
  }
  .accordion p{
    margin-bottom: 7px;
  }
  
 .flex{
    display: flex;
 }
 .flex1{
    margin-left: 18%;
    margin-top: 1%;
    width: 52%;
    padding-top: 5%;
 }
 .last{
    width: 93%;
    margin-left: 8%;
    padding: 1% 1% 15% 11% ;
 }

 .icons{
    font-size: 100%;
    margin-left: 60%;
 }
 .fa{
    background-color: white;
    color: #000000;
    padding: 7px;
    border-radius: 25px;
    margin-bottom: 3%;
 }
 .footerLastDiv a{
    font-size: small;
    margin-left: 6%;
 }
 .fa-facebook{
    border-radius: 20px;
    padding: 5px 2px 5px 10px;
    width: 20px;
    height: 20px;
 }